.header-container {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	margin-top: 60px;
}

.header-logo {
	float: left;
}

.name {
	text-align: right;
	float: right;
	font-size: 50px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: "Open-sans", sans-serif;
	-webkit-text-stroke-color: rgb(255,255,255);
    -webkit-text-stroke-width: 3px;
    text-transform: uppercase;
}

.designation {
	clear: right;
	float: right;
	text-align: right;
	font-size: 22px;
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: "Open-sans", sans-serif;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.divider {
	width: 100%;
	height: 2px;
	background: #7d97ad;
}

.sub-container {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.main-image {
	margin-top: 20px;
	width: 100%;
	height: auto;
}

.flex {
	display: flex;
	flex-wrap: wrap;
}

.work {
	clear: right;
	font-size: 30px;
	text-align: left;
	font-family: "Open-sans", sans-serif;
	color: #7d97ad;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 10px;
	font-weight: normal;
}

.link {
	font-family: "Open-sans", sans-serif;
}

.box12 {
	float: left;
	font-size: 30px;
	text-align: center;
	width: 295px;
	margin-right: 5.6%;
	margin-left: 0px;
	line-height: 15px;
	font-family: "Open-sans", sans-serif;
	color: #2d3c49;
	margin-bottom: 40px;
	margin-top: 0px;
}

.box3 {
	font-size: 30px;
	text-align: center;
	width: 295px;
	line-height: 15px;
	font-family: "Open-sans", sans-serif;
	color: #2d3c49;
	margin-bottom: 40px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
}

.header {
	font-weight: normal;
	margin: 0px;
	text-transform: uppercase;
}

.links {
	font-size: 15px;
	color: #2d3c49;
	text-decoration: none;
}

.img {
	width: 100%;
	margin-bottom: 20px;
}

.footer {
	width: 10%;
	margin-left: auto;
	margin-right: auto;
}

.fa-linkedin-square {
	margin-left: 50%;
}

.linkedin {
	color: black;
}

.facebook {
	color: black;
}

@media screen and (max-width: 800px){
	#my-name {
		font-size: 35px;
		-webkit-text-stroke-width: 1px;
	}

	#my-designation {
		margin: auto;
	}

	#logo {
		margin: auto;
	}

	#work-title {
		text-align: center;
	}

	#part1 {
		margin: auto;
		margin-bottom: 15px;
	}

	#part2 {
		margin: auto;
		margin-bottom: 15px;
	}

	#part3 {
		margin: auto;
		margin-bottom: 15px;
	}
}